:root {
	--black-custom: #020202;
	--brown-dark: #503B31;
	--brown-light: #705D56;
	--blue-dark: #9097CO;
	--blue-light: #A7BBEC;
	--light-background: #F9F8F8;
}

html, body, header, nav, section, footer, nav ul, footer ul {
	padding: 0;
	margin: 0;
}

html, body {
	height: 100%;
}

body {
    position: relative;
    min-height: 100%;
    padding-bottom: 0rem;
	background-color: var(--light-background);
}

footer {

        color: white;
}

/*
header
{
	position: relative;
	width: 100%;
	text-align: center;
	background: var(--black-custom);
	color: var(--blue-light);
	box-shadow: 0 1px 12px black;
	padding: 10px;
}
*/

h1 {
	color: var(--blue-dark);
}

.App {
  min-height: 100%;
  position: relative;
  text-align: center;
}

#main-bloc {
	padding-bottom: 50px;
}

.App-logo {
 /* animation: Icon-spin infinite 20s linear;*/
  height: 10vmin;
}

.App-intro {
  font-size: large;
}

.Login-form {
    text-align: center;
    width: 60vmin;
    margin: auto;
}

button {
    margin: 1vmin;
}

.btn-toolbar {
    display: flex;
    justify-content: center;
}

.Icon {
    height: 40px;
    margin: 2px;
}

.SelectClass {
    width: 60vw;
    margin: auto;
    text-align: center;

}

@keyframes Icon-spin { 
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
