.App {
  text-align: center;
}

.App-logo {
 /* animation: Icon-spin infinite 20s linear;*/
  height: 10vmin;
}

.App-header {
  background-color: #222;
  height: 20vmin;
  width: 100%;
  font-size: 3vmin;
  color: white;
  text-align: center;
  padding: 1vmin;
}

.App-intro {
  font-size: large;
}

.Login-form {
    text-align: center;
    width: 60vmin;
    margin: auto;
}

button {
    margin: 20px;
}

.Icon {
    height: 5vmin;
}

@keyframes Icon-spin { 
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
