:root {
	--black-custom: #020202;
	--brown-dark: #503B31;
	--brown-light: #705D56;
	--blue-dark: #9097CO;
	--blue-light: #A7BBEC;
	--light-background: #F9F8F8;

	--footer-height: 60px;
}

html, body, header, section, footer, .row {
	padding: 0;
	margin: 0;
}

html, body {
    position: relative;
    min-height: 100vh;
}

body {
    padding-bottom: var(--footer-height);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: var(--footer-height);
    line-height: var(--footer-height);
    background: #f5f5f5;
    text-align: right;
}

section {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
}

.footer-icon {
    height: 50px;
}

<<<<<<< HEAD
.login-form {
    width: 60vw;
    max-width: 300px;
    margin: auto;
}

#logInButton {
    margin-top: 20px;
    padding: 8px 29px;
}

.btn {
    margin-right: 5px;
}

=======
>>>>>>> origin/master
/* Fix form input validation css on firefox */
form input {
    box-shadow: none;
}

input.inputModified:invalid {
    box-shadow: 0 0 2px 1px red;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: right;
}

.centered {
    text-align: center;
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.teacher-card-img {
    margin-top: 10px;
}

.graph-container {
    min-width: 400px;
}

.warning {
    color: red;
    margin: 5px;
}

.disable-div {
    pointer-events: none;
    opacity: 0.4;
}

/* CSS SPINNER */
.spinner-container{
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 50%;
    height: 50%;
}

.react-spinner {
  position: relative;
  width: 100px;
  height: 20px;

}

.react-spinner_bar {
  -webkit-animation: react-spinner_spin 1.2s linear infinite;
  -moz-animation: react-spinner_spin 1.2s linear infinite;
  animation: react-spinner_spin 1.2s linear infinite;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  position: absolute;
  width: 20%;
  height: 7.8%;
  top: -3.9%;
  left: -10%;
}

@keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-moz-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}

@-webkit-keyframes react-spinner_spin {
 0% { opacity: 1; }
 100% { opacity: 0.15; }
}
