.rc-slider {
    width: 30%;
    min-width: 120px;
    margin: auto;
}

.alert-info {
    max-width: 300px;
    margin: auto;
    margin-bottom: 20px;
}

#progressbar {
    width: 35%;
    min-width: 120px;
    margin: auto;
    margin-bottom: 20px;
}

#slide {
    margin: 20px;
}

#star {
    height: 75px;
    align-self: center;
    display: inline-block;
    float: center;
}

#buttons {
    margin-top: 20px;
    overflow: auto;
    max-width: 300px;
}

#back-button {
    display: inline-block;
    float: left;
}

#next-button {
    display: inline-block;
    float: right;
}
